*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.nav{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.nav img{
    margin-left: 60px;
    width: 120px;
}

.nav h4{
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 60px;
}

.line{
    width: 70%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.239);
}

.center{
    display: flex;
    width: 100%;
    height: calc(100% - 102px);
    /* background-color: aqua; */
}

.c1{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    padding: 50px 70px;
   
}
.c1 h1{
    font-size: 40px;
    /* background-color: aqua; */
    padding-left: 40px;
    border-left: 2px solid black;
    
}

.c1 #a{
    border-left: 2px solid rgb(247, 109, 3);
    font-size: 40px;
    color: rgba(255, 68, 0, 0.856);
}
.c1 p{
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
}
.center-in{
    display: flex;
    width: 100%;
    height: 225px;
    /* background-color: aqua; */
}
.c11{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: blue;  */
    padding-top: 25px;
    padding-left: 35px;
}
.c11 h2{
    padding-left: 40px;
    font-size: 28px;
}
.c12{
    position: relative;
    padding-top: 20px;
    padding-left: 35px;
    width: 50%;
    height: 100%;
    /* background-color: red;  */
}
.c12 button{
    padding: 12px 35px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 10px black;
}

.box{
    border-radius: 20px;
    margin-top: 75px;
    width: 160px;
    height: 90Px;
    background-color: rgba(0, 0, 0, 0.192);
    padding-top: 30px;
    padding-left: 15px;
}
.box h5{
   font-size: 14px;
   font-family: monospace;
}
.box img{
    position: relative;
    left: 120px;
    top: -20px;
    width: 50px;
}
#img{
    width: 90px;
    position: absolute;
    left: 75px;
    top: 70px;
}
.img{
    width: 105px;
    top: 70px;
    left: 75px;
    position: absolute;
}
.c2{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
}

.c2 img{
    rotate: -30deg;
    position: relative;
    left: -190px;
    top: -80px;
    width: 800px;
}